nav
  .container
    .right
      img(src="img/logo.png", alt="Logo")
      h1 Solar Atom
    .left
      i(class="bars")
      ul.menu
        li #[a(href="#home") Home Page]
        li #[a(href="#sun") Sun]
        li #[a(href="#mercury") Mercury]
        li #[a(href="#venus") Venus]
        li #[a(href="#earth") Earth]
        li #[a(href="#mars") Mars]
        li #[a(href="#jupiter") Jupiter]
        li #[a(href="#saturn") Saturn]
        li #[a(href="#uranus") Uranus]
        li #[a(href="#neptune") Neptune]
        li #[a(href="#pluto") Pluto]